html{
   position:relative;
   min-height:100%;
   padding:10px;
 }
#h1{
    color:red;
    font-family:"verdana";
    text-align:center;
    background:black;
    width:100%;
    left:0;
    top:0;
    border:solid red;

}
body{
    background-color:black;
    padding-bottom:100px;
    width:100%;
    height:100%;
    margin:0;
    padding-top:0px;
    min-height:100vh;
}

.box1{
      background-image:url('Images/pride.jpg');
      background-size:cover;
      width:200px;
      height:200px;
      float:left;
      padding:10px;
      border:solid red;
      font-family:'Times New Roman';
      text-shadow: black 0px 0px 10px;
      font-weight:bold;
      color:crimson;
      
     
}
.box2{
  
  width:600px;
  height:250px;
  padding:10px;
  float:right;
  border:solid red;
  color:blueviolet;
  font-family:fantasy;
  background-image:url('Images/russia-flag.jpg');
  background-size:cover;
  margin-right:250px;
  
}
.p1{
    text-align:justify;
    padding:10px;
    
    
    
    
}
.box3{
      z-index:-1;
      position:relative;
      left:0px;
      bottom:-300px;
      height:250px;
      width:200px;
      border:solid red;
      padding:10px;
      background-image:url('Images/fedormug.jpg');
      background-size:cover;
      
}


ul.a{
  list-style-type: square;
  margin-left:0 px;
  
}
.tag{
  position:relative;
  text-align:justify;
  color:black;
  font-weight:bold;
  left:15px;
}

.box4{
  
  width:800px;
  height:250px;
  padding:10px;
  position:relative;
  border:solid red;
  font-family:fantasy;
  bottom:-25px;
  margin-bottom:100px;
  margin-right:50px;
  background:red;
  float:right;

}

.par2{
  color:white;
  text-emphasis:bold;
  float:right;
  justify-content:right;
  left:200px;
  display:flex;
}
.fedorhighlight{
  height:200px;
  width:400px;
  float:left;
  overflow:auto;
  border:solid black;
}
 #foot1{
  position:absolute;
  left:0px;
  bottom:0px;
  padding:10px;
  color:red;
  border: solid black;
  height:100 px;
  width:100%;
  text-align:center;
  background-color:black;
}